<section class="footer">
    <div class="container">
        <div class="copyright">

        {{ if .Site.Params.copyright }}
            <a href="{{ .Site.BaseURL }}/license">{{ .Site.Params.copyright}}</a>
        {{ end }}

        </div>
        <div class="icons">


          {{ if .Site.Params.diaspora }}
              <a href="https://framasphere.org/people/{{ .Site.Params.diaspora }}" target="_blank">
                  <img class="icon" src="/img/asterisk.svg" alt="framasphere" />
              </a>
          {{ end }}


          {{ if .Site.Params.framapiaf }}
              <a href="https://framapiaf.org/{{ .Site.Params.framapiaf }}" target="_blank">
                  <img class="icon" src="/img/mastodont.svg" alt="framagit" />
              </a>
          {{ end }}


          {{ if .Site.Params.framagit }}
              <a href="https://framagit.org/{{ .Site.Params.framagit }}" target="_blank">
                  <img class="icon" src="/img/gitlab.svg" alt="framagit" />
              </a>
          {{ end }}

        {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
                <img class="icon" src="/img/github.svg" alt="github" />
            </a>
        {{ end }}




        {{ if .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
                <img class="icon" src="/img/linkedin.svg" alt="linkedin" />
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                <img class="icon" src="/img/email.svg" alt="email" />
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                <img class="icon" src="/img/rss.svg" alt="rss" />
            </a>
        {{ end }}

        </div>
    </div>
</section>

{{ partial "footer_scripts" . }}

</body>
</html>
