{{ partial "header.html" . }}
<section class="main">
    <div class="container f04">
        <div class="content" align="center">
            <div class="num">404</div>
             <div class="detail" align=center size="6">¯\_☼‿☼_/¯</div>
            <div class="detail" align=center>Navré mais cette page n'existe pas.</div>
            <div class="suggestion"><a href="/">Vous pouvez cependant retourner à la page d'accueil ici</a></div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
